.about{
 width: 100%;
 height: auto;
 margin-top: 2rem;
}
.about-skills-container{
    height: auto;
   
}
.about-card-img{
    width: 200px;
    height: 150px;
    border: 1.7px solid rgba(200,137,230,.637)!important;
    border-radius: 5px!important;
    box-shadow: 4px 5px 4px 3px rgba(89,4,168,.137)!important;
    transition: all .4s ease 0s!important;
}

.about-card-img:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
  }


.about-grid{
    display: grid;
    grid-template-columns: repeat(3,300px);
}

@media (max-width:968px){
    .about-img{
      width: 400px;
    }

    .about-grid{
        grid-template-columns: repeat(2,300px);
    }

}


@media (max-width:640px){
    .about-grid{
        grid-template-columns: repeat(2,1fr);
        
    }
    .about-card-img{
        width: 100px;
        height: 100px;
    }
}